html,
body,
header,
main,
h1, h3, p,
h4 {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  margin: 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
}
.header__headerLogo {
  height: 28px;
}

.headerForm {
  background-color: #eaeaea;
  gap: 17px;
  height: 50px;
  box-shadow: inset 0px 4px 4px -3px rgba(40, 40, 40, 0.25);
}
.headerForm .headerFormInput {
  width: 109px;
  border: none;
  background-color: #eaeaea;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.headerFormInput:focus {
  outline: none;
}

.headerFormInput::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: black;
}

/*Chrome cross form*/
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0px 6px 4px -3px rgba(40, 40, 40, 0.25);
  padding: 40px 0px;
  gap: 10px;
}

.explore h2 {
  text-align: center;
  margin: 0px 45px;
}

.howItWork {
  background-color: #FFFFFF;
  padding: 50px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.homeRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  padding: 50px 17.5px 70px 17.5px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: #353535;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.titleFooter {
  font-family: "Shrikhand", serif;
  font-weight: 100;
  color: #FFFFFF;
  font-style: italic;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footerMenu li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.footerMenu .fa-handshake-angle {
  padding-right: 7px;
  font-size: 13px;
}

.footerMenu .fa-utensils {
  padding-right: 12px;
  font-size: 13px;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.loaderContainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background: white;
  opacity: 0.6;
  animation: displayNone 3000ms 5000ms both;
}

.flippingLetters {
  z-index: 10002;
  display: flex;
  position: absolute;
  top: 15%;
  animation: displayNone 3000ms 5000ms both;
}

.letter {
  color: #101010;
  font-family: "Shrikhand", serif;
  font-size: 50px;
  font-weight: 100;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  animation: flip 3s 2;
}

.letter:nth-child(1) {
  animation-delay: 0s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}

.letter:nth-child(3) {
  animation-delay: 0.4s;
}

.letter:nth-child(4) {
  animation-delay: 0.6s;
}

.letter:nth-child(5) {
  animation-delay: 0.8s;
}

.letter:nth-child(6) {
  animation-delay: 1s;
}

.letter:nth-child(7) {
  animation-delay: 1.2s;
}

.letter:nth-child(8) {
  animation-delay: 1.3s;
}

@keyframes flip {
  0%, 100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
}
@keyframes displayNone {
  100% {
    display: none;
    opacity: 0;
  }
}
.mainButton {
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  width: 58%;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 0;
  margin: 20px 0px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.mainButton:hover::after {
  opacity: 1;
}
.mainButton::after {
  background: linear-gradient(356deg, #a16be0, #ff93e1);
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: opacity 300ms;
}

.littleCard {
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  margin-left: 12px;
  position: relative;
  padding-left: 80px;
}

.fa-mobile-screen-button {
  font-size: 19px;
  position: absolute;
  left: 40px;
  top: 24px;
  color: #7E7E7E;
}

.fa-list-ul {
  font-size: 18px;
  position: absolute;
  left: 40px;
  top: 26px;
  color: #7E7E7E;
}

.fa-store {
  font-size: 18px;
  position: absolute;
  left: 40px;
  top: 25px;
  color: #9356DC;
}

.restaurantCard {
  height: 251px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 15px;
  display: flex;
  position: relative;
}

.homeImg {
  height: 176px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 0px -50px;
}

.homeImgStilU {
  height: 176px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 0px -152px;
}

.cardContent {
  height: 75px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cardTxt {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}
.cardTxt p {
  font-size: 17px;
  font-weight: 300;
}

.numberList {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  position: absolute;
  left: -12px;
}

.newTag {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 80px;
  height: 29px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeCheckbox {
  display: none;
}

.likeCheckbox + label {
  position: absolute;
  cursor: pointer;
  top: 18px;
  right: 22px;
}

.likeCheckbox + label:before {
  content: "\f08a";
  font-family: FontAwesome;
  font-size: 25px;
  padding: 2px;
}

.likeCheckbox:checked + label:before {
  content: "\f004";
  font-size: 25px;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
}

.homeMainContainer {
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
