html,
body,
header,
main,
h1, h3, p,
h4 {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
}
.header__headerLogo {
  height: 28px;
}

.headerForm {
  background-color: #eaeaea;
  gap: 17px;
  height: 50px;
  box-shadow: inset 0px 4px 4px -3px rgba(40, 40, 40, 0.25);
}
.headerForm .headerFormInput {
  width: 109px;
  border: none;
  background-color: #eaeaea;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.headerFormInput:focus {
  outline: none;
}

.headerFormInput::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: black;
}

/*Chrome cross form*/
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0px 6px 4px -3px rgba(40, 40, 40, 0.25);
  padding: 40px 0px;
  gap: 10px;
}

.explore h2 {
  text-align: center;
  margin: 0px 45px;
}

.howItWork {
  background-color: #FFFFFF;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.homeRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  padding: 50px 17.5px;
  box-sizing: border-box;
}

.mainButton {
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  width: 58%;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 0;
  margin: 20px 0px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.mainButton:hover::after {
  opacity: 1;
}
.mainButton::after {
  background: linear-gradient(356deg, #a16be0, #ff93e1);
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: opacity 300ms;
}

.littleCard {
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  margin-left: 12px;
  position: relative;
  padding-left: 80px;
}

.fa-mobile-screen-button {
  font-size: 19px;
  position: absolute;
  left: 40px;
  top: 24px;
  color: #7E7E7E;
}

.fa-list-ul {
  font-size: 18px;
  position: absolute;
  left: 40px;
  top: 26px;
  color: #7E7E7E;
}

.fa-store {
  font-size: 18px;
  position: absolute;
  left: 40px;
  top: 25px;
  color: #9356DC;
}

.restaurantCard {
  height: 251px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
  position: relative;
}

.homeImg {
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 0px -55px;
}

.homeImgStilU {
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 0px -152px;
}

.cardContent {
  height: 30%;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.cardTxt {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}
.cardTxt p {
  font-size: 17px;
  font-weight: 300;
}

.numberList {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  position: absolute;
  left: -12px;
}

.newBtn {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 80px;
  height: 29px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  padding: 0;
  color: #008766;
  background: #99E2D0;
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
}

.red-heart-checkbox {
  visibility: hidden;
}
.red-heart-checkbox + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  padding-left: 15px;
  transition: all 0.2s;
}
.red-heart-checkbox:checked + label:before {
  content: "\f004";
  color: #F00;
}
.red-heart-checkbox + label:before {
  width: 31.5px;
  height: 30px;
  content: "";
  position: absolute;
  margin-left: -48px;
  margin-top: 3px;
  font-family: FontAwesome;
  font-size: 30px;
  content: "\f08a";
  transition: all 0.3s;
  color: #888;
}
.red-heart-checkbox + label:hover:before {
  transform: scale(1.2);
}

.homeMainContainer {
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
