





.main-button {
    width: 65%;
    height: 50px;
    background: $main-button-color;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #00000040;
    padding: 0;
    margin: 20px 0px;
}