// main button
.mainButton {
    @include mainButtonBackground;
    width: 58%;
    height: 50px;
    font-family: $fontText;
    font-weight: 400;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    color: $mainButtonTxtClr;
    box-shadow: $homeShadow;
    padding: 0;
    margin: 20px 0px;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        @include mainButtonBackgroundHover;
        content: "";
        border-radius: 25px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms;
    }
}