.checkboxFood {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  display: none;
}


.checkboxFood:checked {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 59px;
  margin: 0px;
  position: relative;
  left: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 15px;
  background: $third;

  &:before {
    display: inline-block;
    transform: rotate(45deg);
    height: 25px;
    width: 12px;
    margin-left: 60%; 
    border-bottom: 7px solid $littleCardBackgroundClr;
    border-right: 7px solid $littleCardBackgroundClr;
    color: $littleCardBackgroundClr;
    font-size: 20px;
    font-weight: 700;
  }
}
