.checkboxFood {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 0px;
  margin: 0px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: $third;
  position: relative;
  top: 15px;
  right: -15px;
  transition: width 0.7s ease;
  object-fit: fill;
}


.checkboxFood:checked {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 59px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: $third;
  position: relative;
  top: 15px;
  right: -15px;
  object-fit: fill;

  &::before {
    content:"";
    transform: rotate(45deg);
    height: 10px;
    width: 5px;
    border-bottom: 2.5px solid $third;
    border-right: 2.5px solid $third;
    z-index: 1;
    bottom: 1px;
    position: relative;
  }

  &::after {
    content:"";
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $littleCardBackgroundClr;
  }
}
