// little card in howItWork
.littleCardHome {
    height: 72px;
    width: 100%;
    background-color: $littleCardBackgroundClr;
    border-radius: 20px;
    box-shadow: $homeShadow;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 80px;
    padding-right: 10px;
    box-sizing: border-box;
}

.littleCardHome h4 {
    font-size: 16px;
    font-weight: 400;
}

.fa-mobile-screen-button {
    font-size: 19px;
    position: absolute;
    left: 40px;
    top: 24px;
    color: $iconPhoneList;
}

.fa-list-ul {
    font-size: 18px;
    position: absolute;
    left: 40px;
    top: 26px;
    color: $iconPhoneList;
}

.fa-store{
    font-size: 18px;
    position: absolute;
    left: 40px;
    top: 25px;
    color: $primary;
}