.newTag {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 80px;
    height: 29px;
    font-family: $fontText;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    color: $newTagTxtClr;
    background: $third;
    box-shadow: $homeShadow;
    display: flex;
    justify-content: center;
    align-items: center;
}