
  p {
    font-family: $font-text;
    font-weight: 400;
    font-size: 16px;
  }

  h2 {
    font-family: $font-text;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 45px;
  }

  h3 {
    font-family: $font-text;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    margin: 25px 0px;
  }

  h4 {
    font-family: $font-text;
    font-weight: 200;
    font-size: 18px;
  }
  