html, body, header, main, p, h1, h4 {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 480px;
    box-sizing: border-box;
}


main {
    background-color: $main-background-clr;
    text-align: center;
    display: flex;
    flex-direction: column;
}