

// font title and logo
$font-title-logo: "Shrikhand", serif;

// font text
$font-text: "Roboto", sans-serif;

// home location background-color
$location-color: #eaeaea;

//home main background
$main-background-clr: #f6f6f6;

//Little card background color

$littleCard-background-clr: #f6f6f6;

// main how it work background
$howItWork-background-clr: #FFFFFF;

//Primary
$primary:  #9356DC;

//Secondary
$secondary: #FF79DA;

// main-button text color
$main-button-txtcolor: #FFFFFF;

// main-button shadow & little card
$home-shadow: 0px 4px 10px 0px #00000040;
