// font title and logo
$fontTitleLogo: "Shrikhand", serif;

// font text
$fontText: "Roboto", sans-serif;

// home location background-color
$formColor: #eaeaea;

//home main background
$mainBackgroundClr: #f6f6f6;

//Little card background color

$littleCardBackgroundClr: #f6f6f6;

// main how it work background
$howItWorkBackgroundClr: #FFFFFF;

//Primary
$primary: #9356DC;

//Secondary
$secondary: #FF79DA;

//$Third
$third: #99E2D0;

// main-button text color
$mainButtonTxtClr: #FFFFFF;

// new button text color
$newBtnTxtClr: #008766;

// main-button shadow & little card
$homeShadow: 0px 4px 10px 0px #00000040;

//icon phone list howToWork 
$iconPhoneList: #7E7E7E;

//home restaurant background
$homeRestaurantBackground: #FFFFFF;
