html,
body,
header,
main,
h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $fontTitleLogo;
  font-weight: 300;
  font-size: 28px;
  font-style: italic;
}

h2 {
  font-family: $fontText;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}


h3 {
  font-family: $fontText;
  font-weight: 600;
  font-size: 18px;
}

h4 {
  font-family: $fontText;
  font-weight: 200;
  font-size: 18px;
}

p {
  font-family: $fontText;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
}

main {
  background-color: $mainBackgroundClr;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}