
.loadingLetters {
    width: 100%;
    height: 100%;
    background-color: $loaderBackgroundClr;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    position: absolute;
    animation: fadeOut 2s 2s forwards;
}

.letter {
    color: $fontTitleClr;
    font-family: $fontTitleLogo;
    font-size: 50px;
    font-weight:100;
    backface-visibility: hidden;
    animation: flip 3s;
    position: relative;
    top: 15%;
    
}

.letter:nth-child(1) {
    animation-delay: 0s;
}

.letter:nth-child(2) {
    animation-delay: 0.2s;
}

.letter:nth-child(3) {
    animation-delay: 0.4s;
}

.letter:nth-child(4) {
    animation-delay: 0.6s;
}

.letter:nth-child(5) {
    animation-delay: 0.8s;
}

.letter:nth-child(6) {
    animation-delay: 1.0s;
}

.letter:nth-child(7) {
    animation-delay: 1.2s;
}

.letter:nth-child(8) {
    animation-delay: 1.3s;
}

@keyframes flip {
    100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

@keyframes fadeOut {

    100% {
        display: none;
        opacity: 0;
    }
}
