
.menuHeader{
    display: flex;
    align-items: center;
    height: 63px;
    width: 100%;
    justify-content: center;

    &__headerLogo {
        height: 28px;
    }
}

.fa-arrow-left {
    font-size: 16px;
    position: absolute;
    left: 17px;
    top: 22px;
}