.menuHeader {
    display: flex;
    align-items: center;
    height: 63px;
    width: 100%;
    justify-content: center;

    @media (min-width: $tablet),
    (min-width: $desktop) {
        height: 96px;
    }

    .headerLogo {
        width: 162px;

        @media (min-width: $tablet),
        (min-width: $desktop) {
            width: 200px;
        }
    }

    .fa-arrow-left {
        font-size: 22px;
        position: absolute;
        left: 20px;
        top: 20px;

        @media (min-width: $tablet),
        (min-width: $desktop) {
            top: 35px;
            left: 25px;
        }
    }
}