.menuImg {
    width: 100%;
    height: 275px;
    object-fit: cover;

}

.menu {
    width: 100%;
    height: 400px;
    background-color: $mainBackgroundClr;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  
}